<section class="view index">

  <div class="view-top-bar">
<<<<<<< HEAD
    <h1 class="view-current-title">Hospital Run</h1>
  </div>

 	<div class="container">
 		<div class="row">
			<div class="col-xs-12">
				<p>
					<br />Modern software for charitable hospitals in the developing world.
				</p>
				<p>
					<ul>
						<li>
							Homepage: 
							<a href="https://hospital-run.jslab.xyz">https://hospital-run.jslab.xyz</a>
						</li>
						<li>
							Github: <a href="https://github.com/duyetdev/hospital-run">https://github.com/duyetdev/hospital-run</a>
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>


=======
    <h1 class="view-current-title">What would you like to do?</h1>
  </div>

>>>>>>> f90c9db... Truncated history
</section>